body, html{
    height:100%;
    overflow: hidden;
    position: relative;
}
body{
    background-color: black;
    color: #ccc;
}
.loader-container{
    position:absolute;
    left:50%;
    margin-left:-80px;
    top:410px;
    width:230px;
    z-index:6;
}
.loader{
    background-color: black;
    bottom:0;
    height:10px;
    position: absolute;
    right:0;
    width:100%;
    z-index:6;
     -webkit-transition: all 1500ms ease-out;
    -moz-transition: all 1500ms ease-out;
    -o-transition: all 1500ms ease-out;
    transition: all 1500ms ease-out;
   
}
.loader.unshown{
    -webkit-transform: translate(0, 80px);
    -moz-transform:    translate(0, 80px);
    -ms-transform:     translate(0, 80px);
    -o-transform:      translate(0, 80px);
    transform:         translate(0, 80px);
}
.mosaic{
    background-color:black;
    height:768px;
    left:50%;
    margin-left:-960px;
    position: relative;
    width:1920px;
    z-index:1;
}
.controls{
    text-align: center;
}
.hidden{
    display: none;
}